@import './colors.scss';
@import './mixins.scss';
@import './fonts.scss';

*{
    margin: 0;
    padding: 0;
    font-family: $font;
    font-size: 20px;
    font-weight: $regular;
    border: none;
    background: transparent;
    list-style-type: none;
    text-decoration: none;
}

.btn{
    padding: 15px 35px;
    border: 2px solid $darkOpacity;
    font-weight: $semibold;
    font-size: 16px;
    &-orange{
        background-color: $orange;
        border: 2px solid $orange;
        color: $white;
    }
    &dark{
        background-color: $dark;
        border: 2px solid $dark;
        color: $white;
    }
}

.container{
    padding: 0 75px;
    @include flex(none,center,0);
    flex-direction: column;
}

.header{
    @include flex(space-around,center,0);
    border-bottom: 1px solid $gray;
    .logo__nav{
        @include flex(center,center,51px);
        .nav {
            .menu{
                @include flex(center, center, 17px);
                &-item{
                    padding: 37px 20px;
                }
            }
        }
    }
    .buttons{
        @include flex(center,center,10px);
    }
}

.promo{
    @include flex(center,center,0);
    padding: 150px 0;
    .cta{
        @include flex(none,none,50px);
        flex-direction: column;
        .info{
            @include flex(none,center,51px);
            flex-direction: column;
            &-title{
                width: 57%;
                align-self: self-start;
                @include Graphik($dark,65px,$semibold);
                line-height: 70px;
            }
            &-subtitle{
                width: 42%;
                align-self: self-start;
                @include Graphik($dark,25px,$regular);
                line-height: 35px;
            }
        }
        .buttons__text{
            @include flex(center,flex-start,25px);
            flex-direction: column;
            .buttons{
                @include flex(flex-start,center,10px);
                > .btn{
                    padding: 25px 40px;
                }
            }
            .subbuttons__text{
                .text{
                    @include Graphik($dark,15px,$regular);
                }
            }
        }
        
    }
    .img{
        width: 50%;
    }
}

.brands{
    background-color: $orange-light;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 80px;
    padding: 96px 0;
    &-title{
        grid-area: 1/1/1/7;
        @include flex(center,none,none);
        &-text{
            width: 60%;
            text-align: center;
            @include Graphik($dark,50px,$semibold);
            line-height: 60px;
        }
    }

}